nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background, var(--dark));
  color: var(--light);
  z-index: 2;
  width:100%
}

nav.center-nav {
  justify-content: center;;
}

nav svg {
  fill: var(--primary);
}

nav .brand {
  display: flex;
  align-items: center;
}

nav .home {
  --size: 75px;
  margin: 0 10px;
  height: var(--size);
  width: var(--size);
  padding: 15px;
}

nav .back {
  --size: 75px;
  margin: 0 10px;
  height: var(--size);
  width: var(--size);
  padding: 15px;
}

nav h1 {
  font-size: 2rem;
  font-family: var(--title-font);
}

.logo {
  height: 40px;
  width: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
}


