@import url("reset.css");
@import url("vars.css");

body {
  background-color: var(--bodybg);
}

.container {
  position: relative;
  width: var(--HomeContentWidth);
  height: var(--HomeContentHeight);
  margin: auto;
  background-image: url("./img/homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mglass-link,
.arrow-link {
  height: 120px;
  width: 120px;
  padding: 15px;
  border: 3px solid rgb(75, 75, 75);
  border-radius: 60px;
  background-color: rgba(200, 200, 200, 0.25);
}

a {
  text-decoration: none;
  color: black;
}

#garden-link {
  position: absolute;
  bottom: 100px;
  right: 60px;
}

#garden-link:hover ~ #garden-text {
  display: block;
}

#garden-text {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 160px;
  font-size: 2rem;
  padding: 15px;
  border: 3px solid rgb(75, 75, 75);
  border-radius: 15px;
  background-color: rgba(200, 200, 200, 0.7);
}

#archeology-link {
  position: absolute;
  bottom: 40px;
  left: 45px;
  transform: rotate(120deg);
}

#archeology-link:hover ~ #archeo-text {
  display: block;
}

#archeo-text {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 145px;
  font-size: 2rem;
  padding: 15px;
  border: 3px solid rgb(75, 75, 75);
  border-radius: 15px;
  background-color: rgba(200, 200, 200, 0.7);
}
