@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Montserrat:wght@100;300;400;500;600;800&family=Roboto:wght@300;400;700&display=swap');

:root {
  --HomeContentHeight: 854px;
  --HomeContentWidth: 1280px;
  --GardenContentHeight: 800px;
  --GardenContentWidth: 1200px;
  --ArcheologyContentHeight: 1080px;
  --ArcheologyContentWidth: 1920px;
  --navHeight: 7.25rem;
  --footerHeight: 3.75rem;
  --title-font-archeology: "Luxurious Roman", cursive;
  --text-font-archeology: "Luxurious Roman", cursive;
  --title-color-archeology: rgb(200, 200, 200);
  --title-font: Montserrat, cursive;
  --text-font: "Varela Round", sans-serif;
  --primary: rgb(144, 214, 3);
  --bodybg: rgba(10, 10, 10, 0.9);
  --dark: rgb(43, 46, 43);
  --intermediate: rgb(125, 125, 125);
  --light: rgb(230, 230, 230);

  --spacing: 1rem;
  --spacing2: 2rem;

  --font-size-text: 1.2rem;
}
