@import url("../../assets/reset.css");
@import url("../../assets/vars.css");

main {
  align-items: center;
  justify-content: center;
  margin: auto;
}

#home,
#back {
  --size: 75px;
  margin: 0 10px;
  height: var(--size);
  width: var(--size);
  padding: 15px;
  border: 3px solid rgb(25, 25, 25);
  border-radius: 60px;
  background-color: rgba(200, 200, 200, 0.75);
}

body {
  background-color: rgba(10, 10, 10, 0.9);
}

.container {
  min-width: 960px;
  background-image: url("./img/grassbg.jpg");
}

.exercise {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px;
}

.exercise.final > div.garden {
  margin: 160px 100px 0;
}

.exercise > div.description {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 95%;
  max-width: 660px;
  max-height: 660px;
  border: 5px solid rgb(55, 55, 55);
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
  padding: 20px;
  font-family: var(--text-font-garden);
  margin-bottom: 50px;
  margin-right: 50px;
}

div.description p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

div.description > img {
  align-self: center;
  max-height: 300px;
  max-width: 300px;
}

.half-v {
  height: 50%;
}

div.description h2 {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

.description-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn > a {
  margin: 0 15px;
}

.exercise > div.garden {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 660px;
  border: 30px solid transparent;
  border-image: url("./img/plankbg.jpg") 10% round;
  margin-top: 40px;
}

.exercise > div.garden > img.cat1 {
  position: absolute;
  top: -112px;
  right: 0;
  height: 100px;
}

.exercise > div.garden > img.cat2 {
  position: absolute;
  top: 0;
  right: -108px;
  height: 100px;
  transform: rotate(90deg);
}

.exercise > div.garden > img.cat3 {
  position: absolute;
  top: -112px;
  left: 0;
  height: 100px;
}

.exercise > div.garden > img.cat4 {
  position: absolute;
  top: 0;
  left: -108px;
  height: 100px;
  transform: rotate(-90deg);
}

.exercise > div.garden > img.cat5 {
  position: absolute;
  top: -238px;
  left: 50;
  height: 250px;
}

.exercise > div.garden > img.cat6 {
  position: absolute;
  top: -112px;
  left: 50;
  height: 100px;
}

.garden-plot {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.earth {
  background-image: url("./img/soilbg.jpg");
}

.logo {
  height: 40px;
  width: 40px;
}

header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
}

header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: var(--title-font-garden);
  line-height: 4rem;
  padding: 1rem;
  color: rgb(100, 200, 20);
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 15px;
}

main {
  margin-bottom: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgb(35, 35, 35);
  background-color: rgba(200, 200, 200, 0.5);
}

footer > a {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .exercise {
    flex-direction: row;
    justify-content: space-around;
  }

  .exercise > div.description {
    flex-direction: column;
    min-width: 330px;
    width: calc(100vw - 660px - 40px);
    margin-bottom: 0;
  }

  .container {
    min-width: 1400px;
  }
}
