body {
  --background-image: url('img/grassbg.jpg');
  background-image: var(--background-image);
}

aside {
  --background-aside: url("img/pavement.webp");
  background-image: var(--background-aside);
}

aside .expectations {
  display: flex;
  justify-content: center;
}

aside .expectations .garden {
--plant-size: 1.5rem;
--garden-border-size: 4px;
width:65%;
min-width: calc((var(--plant-size) + 20px) * 10);
}

.garden {
  --plant-size: clamp(1.5rem, 3vw, 2.5rem);
  --garden-border-size: 8px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: clamp(360px, 60vw, 800px);
  place-self: center;
  border: calc(var(--garden-border-size) * 3) solid transparent;
  border-image: url("img/plankbg.jpg") 10% round;
  box-shadow: inset 0 0 var(--garden-border-size) var(--garden-border-size) rgba(0, 0, 0, 0.5);
  background-image: url("img/soilbg.jpg");
  aspect-ratio: 1;
  margin: calc(var(--spacing2) * 2);
}

.garden-row {
  display: flex;
  flex-direction: row;
}

.garden-plot {
  font-size: var(--plant-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px black;
}

.garden-plot:hover {
  background-color: var(--transparent-light);
}

/********** contrast *************/

.contrastLabel {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--light);
  padding: calc(var(--spacing) / 2);
  border: 2px solid var(--dark);
}

.contrastLabel::after {
  display: inline-block;
  content: "";
  width: 60px;
  aspect-ratio: 2 / 1;
  --gradient-orientation: -90deg;
  --toggle-color: var(--intermediate);
  background: linear-gradient(var(--gradient-orientation), var(--light) 50%, var(--toggle-color) 50%);
  border-radius: 8px;
  border: 2px solid var(--dark);
  box-shadow: inset 0 0 2px var(--dark);
}

#contrast:checked+nav .contrastLabel::after {
  --toggle-color: var(--primary);
  --gradient-orientation: 90deg;
  box-shadow: 0 0 5px 2px var(--light);
}

#contrast:checked~main [data-target="contrast"] {
  background-color: black;
  border: 1px solid white;
}

#contrast:checked~main [data-target="contrast"]>p {
  color: white;
  filter: drop-shadow(2px 2px 2px black) drop-shadow(-1px -1px 8px #ffffff8a);
}

img.cat {
  display:none;
  position:absolute;
  height:100px;
}

@media screen and (min-width: 1330px) {
  img.cat {
    display:block;
  }
}