body {
  --background-image: url('img/grassbg.jpg');
  background-image: var(--background-image);
}

aside {
  --background-aside: url("img/pavement.webp");
  background-image: var(--background-aside);
}

.planter {
  perspective: 1500px;
  --width: min(800px, 100%);
  --min-width:600px;
  --height: 200px;
  --plot-number: 5;
  display: grid;
  grid-template-columns: repeat(var(--plot-number), 1fr);
  width: var(--width);
  min-width:var(--min-width);
  height: var(--height);
  border-image: url("./img/clay.webp") 10 / calc(var(--height) / 10);
  border-style: solid;
  background-image: url("./img/soilbg.jpg");
  position: relative;
  box-shadow: 0 25px 15px inset var(--dark);
}

.planter::after {
  content: "";
  background-image: url("./img/clay.webp");
  height: calc(var(--height) / 2);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(var(--height) / 2)) rotateX(-60deg);
  transform-origin: top;
  filter: brightness(60%);
}

.planter>div:hover {
  background-color: var(--transparent-light);
}

.pot {
  --width: 200px;
  --height: 200px;
  --plot-number: 1;
  --min-width: 200px;
}

.plot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--height) / 2);
  text-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 0.5);
  
}

.planter-pots {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: var(--spacing);
}

.mini .planter {
  --height: 100px;
  min-width: 250px;
  max-width:calc(var(--height) * var(--plot-number))
}
.mini .pot {
  --width: 100px;
  min-width: 50px;
  max-width:calc(var(--height) * var(--plot-number))
}