@import url("../../assets/reset.css");
@import url("../../assets/vars.css");

body {
  background-color: rgba(10, 10, 10, 0.9);
}

.archeology-main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--ArcheologyContentWidth);
  height: var(--ArcheologyContentHeight);
  margin: auto;
  background-image: url("./img/ruins.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navHeight);
}

header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Luxurious Roman", cursive;
  line-height: 4rem;
  padding: 1rem;
  color: rgb(200, 200, 200);
  background-color: rgba(35, 35, 35, 0.6);
  border-radius: 15px;
}

#home {
  --size: 75px;
  margin-left: calc(0px - var(--size));
  height: var(--size);
  width: var(--size);
  padding: 15px;
  border: 3px solid rgb(25, 25, 25);
  border-radius: 60px;
  background-color: rgba(200, 200, 200, 0.75);
}

main.content {
  height: calc(
    var(--ArcheologyContentHeight) - var(--navHeight) - var(--footerHeight)
  );
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
  color: rgb(35, 35, 35);
  background-color: rgba(200, 200, 200, 0.5);
}

footer > a {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.exercise1 {
  position: absolute;
}

.mglass-link {
  height: 80px;
  width: 80px;
}

#ex1 {
  position: absolute;
  top: 350px;
  left: 160px;
}

#ex2 {
  position: absolute;
  top: 300px;
  left: 940px;
}
