html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

section {
  align-items: center;
  justify-content: center;
  margin: auto;
}

:root {
  --bodyHeight: 1080px;
  --bodyWidth: 1920px;
  --navHeight: 120px;
  --footerHeight: 60px;
}

body {
  height: var(--bodyHeight);
  width: var(--bodyWidth);
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navHeight);
}

header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Luxurious Roman", cursive;
  line-height: 4rem;
  padding: 1rem;
  color: rgb(200, 200, 200);
  background-color: rgba(35, 35, 35, 0.6);
  border-radius: 15px;
}

main.content {
  height: calc(var(--bodyHeight) - var(--navHeight) - var(--footerHeight));
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
  color: rgb(35, 35, 35);
  background-color: rgba(200, 200, 200, 0.5);
}

footer > a {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.archeology-main {
  background-image: url("./img/ruins.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.exercise1 {
  position: absolute;
}

.mglass-link {
  height: 80px;
  width: 80px;
}

#ex1 {
  position: absolute;
  top: 350px;
  left: 160px;
}

#ex2 {
  position: absolute;
  top: 300px;
  left: 940px;
}
